body {
  background-image: url(../images/IMG_9104.png);


  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myjum {
  background-color: whitesmoke;
}

#password {
  padding: 2rem;
  font-size: 1.5rem;
  border: 1px dashed grey;
  background-color: whitesmoke;
  margin-top: 2rem;
  text-align: center;
}

.btn {
  border-radius: 20px;
  margin: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
@import url("mobile.css");
@import url("tablet.css");
